@import url("fonts.css");

/* ---------------- Базовое: ---------------- */

* {
    scrollbar-color: rgb(159, 162, 167) rgb(10, 13, 20);
    margin: 0;
    padding: 0;
    outline: none;
}

html.disable-transitions * {
  transition: none !important;
}

body {
    font-family: "montserrat-regular";
    background-color: rgb(13, 17, 23);
    color: rgb(255, 255, 255);
}

:root {
    --border-color: rgba(86, 92, 128, 0.5);
    --table-header-color: rgb(13, 17, 23);
    --table-tr-1-color: rgb(13, 17, 23);
    --table-tr-2-color: rgb(21, 27, 35);
}

table {
    width: auto;
    max-width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    margin: 16px 32px;
    overflow: hidden;
    /* box-shadow: 0px 4px 8px var(--box-shadow-05); */
}

table thead {
    background-color: var(--table-header-color);
}

table th,
table td {
    padding: 8px 12px;
    border: 1.5px solid var(--border-color);
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

table th {
    text-align: center;
}

table tbody tr {
    background-color: var(--table-tr-1-color);
}

table tbody tr:nth-child(even) {
    background-color: var(--table-tr-2-color);
}


/* ---------------- Основное: ---------------- */

a {
    font-family: "montserrat-regular";
    text-decoration: underline;
    text-underline-offset: 3px;
    color: rgb(68, 147, 248);
}

a:hover {
    color: rgb(48, 127, 228);
}

button {
    font-family: "montserrat-regular";
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(233, 233, 233);
    color: rgba(0, 0, 0, 1.0);
}

button:active {
    background-color: rgb(222, 222, 222);
    color: rgba(0, 0, 0, 1.0);
}

.a-button-like {
    font-family: "montserrat-medium";
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.a-button-like:hover {
    color: rgb(128, 128, 128);
}

/* ---------------- Дополнительное: ---------------- */

.selectable {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-img-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.breakable {
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: normal;
}

.inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0px;
    border-bottom: 0.5px solid rgb(45, 49, 70);
}

.inline:last-child {
    border-bottom: none;
}

.inline-no-border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
}

.inline-row {
    display: flex;
    align-items: center;
}

.inline-row-center {
    display: flex;
    justify-content: center;
}

.inline-column {
    display: flex;
    flex-direction: column;
}

.separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 48px;
    margin-bottom: 48px;
    border-bottom: 1px solid var(--border-color);
}

.separator-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 24px;
    border-right: 48px;
    border-right: 1px solid var(--border-color);
}
