@import url("../page.css");


content {
    background-image: url("../../content/images/background-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
