@import url("../page.css");


content {
    font-family: "montserrat-regular";
    font-size: 20px;
    line-height: 1.4;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-left: 48px;
    padding-right: 48px;

    background-image: url("../../content/images/background-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
